<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text>IonFire</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/create-event']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  <app-events [events]="events" (attendEvent)="attend($event)" (shareEvent)="share($event)"></app-events>
  
</ion-content>